windssight.com, www.windssight.com {
        encode gzip

        @api path /api/*
        handle @api {
                reverse_proxy backend:5005
        }

        handle {
                root * /srv
                try_files {path} /index.html
                file_server
        }
}